<h1>Login</h1>

<form action="login_execute" method="post">
    <div class="form-group">
        <label for="titolo">Username</label>
        <input type="text" class="form-control" name="email" value="" />
    </div>
    <div class="form-group">
        <label for="contenuto">Password</label>
        <input type="text" class="form-control" name="password" value="" type="password" />
    </div>
    <button type="submit" class="btn btn-success" name="aggiungi">Accedi</button>
</form>

